[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mykidong
[access "refs/for/refs/*"]
	read = group user/mykidong
	push = group user/mykidong
	label-Code-Review = -2..+2 group user/mykidong
	label-Verified = -1..+1 group user/mykidong
	rebase = group user/mykidong
	removeReviewer = group user/mykidong
	submit = group user/mykidong
[access "refs/heads/*"]
	read = group user/mykidong
	create = group user/mykidong
	push = +force group user/mykidong
	pushMerge = group user/mykidong
[access "refs/tags/*"]
	push = +force group user/mykidong
	pushTag = group user/mykidong
	pushSignedTag = group user/mykidong
